.mainBody {
  background-color: rgb(229, 236, 248);
  font-family: 'Montserrat', sans-serif;
}

.heading {
  text-align: center;
  border-bottom: 5px groove rgb(133,196,227);
  margin-top: 20px;
  height: 100px;
}

.nameAndDescription {
  height: 150px;
  width: 400px;
  margin-bottom: 10px;
}

.btnAll {
  width: 150px;
  margin: 5px;
  color: black;
  font-weight: 700;
  margin: 7px;
}

.buttonCreate {
  margin: 30px;
  border-radius: 12px;
}

.btn1 {
  background-color: transparent;
  border: 2px solid blue;
  border-radius: 12px;
}

.btn2 {
  background-color: transparent;
  border: 2px solid green;
  border-radius: 12px;
}

.btn3 {
  background-color: transparent;
  border: 2px solid red;
  border-radius: 12px;
}

.buttons {
  text-align: center;
}

#skiTypes {
  font-size: 60px;
}

.skiImages {
  float: left;
  width: 100%;
  max-height: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  /* border-radius: 12px; */
  /* height: 100px; */
  /* object-fit: cover; */
  /* border: 1px solid black; */
  /* padding: 10px; */
  /* margin-bottom: 10px; */
}

.borderButtonsCol {
  border-left: 2px solid rgb(133,196,227);
}

.mainBodyRow{
  border-bottom: 2px solid rgb(133,196,227);;
}